//
//  StagingBaseConfiguration.xcconfig
//  GitHubRxApp
//
//  Created by Gabrijel Bartosek on 17.07.2023..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

APP_NAME = GitHubRxSearchStaging
APP_BUNDLE_ID = com.beer.GitHubRxApp-staging
API_BASE_URL_PATH = https:/$()/api.github.com
APP_ICON = AppIconStaging
