//
//  DevTestUITests.xcconfig
//  GitHubRxApp
//
//  Created by Gabrijel Bartosek on 26.07.2023..
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Pods/Target Support Files/Pods-GitHubRxApp-GitHubRxAppUITests/Pods-GitHubRxApp-GitHubRxAppUITests.devtest.xcconfig"

#include "DevTest.xcconfig"
