<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API base path</key>
	<string>$(API_BASE_URL_PATH)</string>
	<key>App Bundle ID</key>
	<string>$(APP_BUNDLE_ID)</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLName</key>
			<string>com.beer.GitHubRxApp</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>com.beer.GitHubRxApp</string>
			</array>
		</dict>
	</array>
	<key>CallbackURLScheme</key>
	<string>com.beer.GitHubRxApp</string>
	<key>ClientID</key>
	<string>Iv1.03eda0e0b6c3100b</string>
	<key>ClientSecret</key>
	<string>370d1b2a85339484e0bb76c26a214ffbac09a388</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>OAuth API base path</key>
	<string>$(OAUTH_API_BASE_PATH)</string>
	<key>UIAppFonts</key>
	<array>
		<string>Raleway-Medium.ttf</string>
		<string>Raleway-Bold.ttf</string>
		<string>Raleway-MediumItalic.ttf</string>
		<string>Raleway-ExtraBold.ttf</string>
	</array>
</dict>
</plist>
